
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title_block %} Sign Up {% endblock %}

    {% block body_block %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
    </head>
    <body>
        <div class="container" style="max-width: 50%;border: 1px solid rgb(3, 61, 104);border-radius: 10px;padding: 20px;margin-top: 30px;">
            {% if registered%}
            <div class="alert alert-success">
                You have successfully registered. Please <a href="">log in</a> to continue.  
            </div>

            {% else %}
            <h2>Create a New Account</h2>
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <br>
                <button class="btn btn-outline-success mb-2" type="submit">Sign Up</button>
            </form>
            <p>Already have an account? <a href="">Log in here</a></p>
        </div>
    </body>
    </html>
    {% endif %}

    {% endblock %}

