@media only screen and (max-width: 768px) {
    #log_response {
        max-width: 96%;
        margin: 10% auto; 
    }
}
  

  @media only screen and (min-width: 769px) {
    #log_response {
        max-width: 50%;
        margin: 5% auto;
    }
  }

  @media only screen and (max-width: 768px) {
    #reg_response {
        max-width: 96%;
        margin: 5% auto; 
    }
}

@media only screen and (min-width: 769px) {
    #reg_response {
        max-width: 60%;
        margin: 5% auto;
    }
  }

  @media only screen and (max-width: 768px) {
    #blog_response {
        max-width: 96%;
        margin: 5% auto; 
    }
}

@media only screen and (min-width: 769px) {
    #blog_response {
        max-width: 90%;
        margin: 3% auto;
    }
  }
